@model Book
@{
    ViewData["Title"] = "DetailBook";
     Layout = "layout__admin";
}

<link rel="stylesheet" href="~/css/admin__style.css">
<script src="~/js/admin__script.js"></script>

 <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>

        <li class="breadcrumb-item">All Books</li>
        <li class="breadcrumb-item active">Detail Book</li>
    </ol>

    <div class="d-flex justify-content-center align-items-center" style="100vh">
    <h1 class="text-primary">Detail Book</h1>
    <div style="width: .5rem;"> </div>
    </div>
    <hr />
<div style="100vh; background-color: #B9E0FF;">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
        <tr>
            <td> @Html.DisplayNameFor(model => model.BookId)</td>
            <td> @Html.DisplayFor(model => model.BookId)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Name)</td>
            <td> @Html.DisplayFor(model => model.Name)</td>
        </tr>
         <tr>
            <td> @Html.DisplayNameFor(model => model.Price)</td>
            <td> @Html.DisplayFor(model => model.Price)</td>
        </tr>
         <tr>
            <td> @Html.DisplayNameFor(model => model.Image)</td>
            <td> <img style="width: 9rem; height: auto;" src="@Html.Raw(@Model.Image)" alt="a description of the image"> </td>
        </tr>
         <tr>
            <td> Author </td>
            <td> @Html.DisplayFor(model => model.Author.Name)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Publisher)</td>
            <td> @Html.DisplayFor(model => model.Publisher)</td>
        </tr>
         <tr>
            <td> @Html.DisplayNameFor(model => model.PulishDate)</td>
            <td> @Html.DisplayFor(model => model.PulishDate)</td>
        </tr>
         <tr>
            <td> @Html.DisplayNameFor(model => model.PageNumber)</td>
            <td> @Html.DisplayFor(model => model.PageNumber)</td>
        </tr>
         <tr>
            <td> @Html.DisplayNameFor(model => model.Category)</td>
            <td> @Html.DisplayFor(model => model.Category)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Size)</td>
            <td> @Html.DisplayFor(model => model.Size)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.BookFormat)</td>
            <td> @Html.DisplayFor(model => model.BookFormat)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.DetailBook)</td>
            <td> @Html.DisplayFor(model => model.DetailBook)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Status)</td>
            <td> @(Model.Status == 0 ? ("Out of Order") : "On Stock")</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model. quantity)</td>
            <td> @Html.DisplayFor(model => model. quantity)</td>
        </tr>
       
    </table>
        <div>
        <a class="btn btn-primary" asp-action="Book">Back to List</a>
        </div>
    </div>

    </div>    
