@model IEnumerable<Order>
@{
    ViewData["Title"] = "Home Page";
    Layout = "layout__admin";
}
<link rel="stylesheet" href="~/css/admin__style.css">

    <h1 class="mt-4"> All Orders</h1>
    <ol class="breadcrumb mb-4">
               <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">All Orders</li>
    </ol>
    <!-- Button -->


        @* <a class="btn btn-primary" style="margin-bottom: 1rem;" asp-action="CreateBook"><i class='fa fa-plus'></i>  </a> *@
    <div id="wrapper">
        <table  id="myTable" class="display table table-bordered table-hover" cellspacing="0" width="100%">
            <thead class="table table-primary">
            <tr>    
                <th class="col-lg-1">@Html.DisplayNameFor(model => model.OrderId)</th>
                <th class="col-lg-2"> @Html.DisplayNameFor(model => model.OrderDateTime)</th>
                <th class="col-lg-4"> @Html.DisplayNameFor(model => model.CustomerEmail)</th>
                <th class="col-lg-2"> @Html.DisplayNameFor(model => model.AddressId)</th>
                <th class="col-lg-1"> @Html.DisplayNameFor(model => model.Status)</th>
                <th class="col-lg-2"></th>
            </tr>
            </thead>
            
            <tbody>
                 @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Address1)
                </td>
                <td>
                    @foreach (var status in ViewBag.StatusArray)
                    if (item.Status == status.Item1)
                    {
                        @status.Item2
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditOrder", new { id = item.OrderId }, new{  @style="background-color: #379237; border-radius: 10px; color: #F8FFDB; padding: 5px; text-decoration: none;" }) 
                    @Html.ActionLink("Delete", "DeleteOrder", new { id = item.OrderId }, new{  @style="background-color: #0E5E6F; border-radius: 10px; color: #F8FFDB; padding: 5px; text-decoration: none;" }) 
                    @Html.ActionLink("Detail", "DetailOrder", new { id = item.OrderId }, new{  @style="background-color: #FD841F; border-radius: 10px; color: #F8FFDB; padding: 5px; text-decoration: none;" }) 
            </tr>
        }
            </tbody>
               
        </table>
    </div>
      
<div style="height: 100vh"></div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
$('#myTable').DataTable();
} );
</script>
<script src="~/js/admin__script.js"></script>

