@{
    ViewData["Title"] = "List order customer";
}

<link rel="stylesheet"
    href="https://preview.colorlib.com/theme/bootstrap/css-table-13/A.fonts,,_icomoon,,_style.css+css,,_owl.carousel.min.css+css,,_bootstrap.min.css+css,,_style.css,Mcc.wLmjsC5shx.css.pagespeed.cf.81Hcn-jJsk.css" />

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>User profile</h4>
                        <ul>
                            <li>
                                <img src="~/img/customers/default_user.jpeg" alt="User image" style="width: 50%;">
                            </li>
                            <li><a asp-action="Index">Profile details</a></li>
                            <li><a asp-action="ChangePassword">Change password</a></li>
                            <li><a asp-action="Address">Addresses</a></li>
                            <li><b><a asp-action="Favorite">Favorite</a></b></li>
                            <li><b style="font-weight: bold;"><a asp-action="Orders">Orders</a></b></li>
                            <li><a asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                    </div>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link active" id="wait-tab" data-toggle="tab" href="#wait" role="tab"
                            aria-controls="wait" aria-selected="true">Wait for confirm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="confirm-tab" data-toggle="tab" href="#confirm" role="tab"
                            aria-controls="confirm" aria-selected="false">Confirm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="delivering-tab" data-toggle="tab" href="#delivering" role="tab"
                            aria-controls="delivering" aria-selected="false">Delivering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="received-tab" data-toggle="tab" href="#received" role="tab"
                            aria-controls="received" aria-selected="false">Received</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cancel-tab" data-toggle="tab" href="#cancel" role="tab"
                            aria-controls="cancel" aria-selected="false">Cancel</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="wait" role="tabpanel" aria-labelledby="wait-tab">
                        <div class="table-responsive" style="margin-left:-15px">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone number</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Day</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.listOrderWait)
                                    {
                                        <tr>
                                            <td>
                                                @item.Address.Name
                                            </td>
                                            <td>
                                                @item.Address.ShippingNumberPhone
                                            </td>
                                            <td>
                                                @item.Address.Address1
                                            </td>
                                            <td>
                                                @{
                                                    var day = (DateTime)item.OrderDateTime;
                                                    var data = day.ToString("dd-MM-yyyy");
                                                }
                                                @data
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-primary" asp-action="DetailOrder"
                                                asp-route-OrderId="@item.OrderId">DETAILS</a>
                                                <a class="btn btn-outline-danger" asp-action="DeleteOrder"
                                                asp-route-OrderId="@item.OrderId">DELETE</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="confirm" role="tabpanel" aria-labelledby="confirm-tab">
                        <div class="table-responsive" style="margin-left:-15px">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone number</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Day</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.listOrderConfirm)
                                    {
                                        <tr>
                                            <td>
                                                @item.Address.Name
                                            </td>
                                            <td>
                                                @item.Address.ShippingNumberPhone
                                            </td>
                                            <td>
                                                @item.Address.Address1
                                            </td>
                                            <td>
                                                @{
                                                    var day = (DateTime)item.OrderDateTime;
                                                    var data = day.ToString("dd-MM-yyyy");
                                                }
                                                @data
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-primary" asp-action="DetailOrder"
                                                asp-route-OrderId="@item.OrderId">DETAILS</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="delivering" role="tabpanel" aria-labelledby="delivering-tab">
                        <div class="table-responsive" style="margin-left:-15px">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone number</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Day</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.listOrderDelivering)
                                    {
                                        <tr>
                                            <td>
                                                @item.Address.Name
                                            </td>
                                            <td>
                                                @item.Address.ShippingNumberPhone
                                            </td>
                                            <td>
                                                @item.Address.Address1
                                            </td>
                                            <td>
                                                @{
                                                    var day = (DateTime)item.OrderDateTime;
                                                    var data = day.ToString("dd-MM-yyyy");
                                                }
                                                @data
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-primary" asp-action="DetailOrder"
                                                asp-route-OrderId="@item.OrderId">DETAILS</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="received" role="tabpanel" aria-labelledby="received-tab">
                        <div class="table-responsive" style="margin-left:-15px">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone number</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Day</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.listOrderDone)
                                    {
                                        <tr>
                                            <td>
                                                @item.Address.Name
                                            </td>
                                            <td>
                                                @item.Address.ShippingNumberPhone
                                            </td>
                                            <td>
                                                @item.Address.Address1
                                            </td>
                                            <td>
                                                @{
                                                    var day = (DateTime)item.OrderDateTime;
                                                    var data = day.ToString("dd-MM-yyyy");
                                                }
                                                @data
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-primary" asp-action="DetailOrder"
                                                asp-route-OrderId="@item.OrderId">DETAILS</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="cancel" role="tabpanel" aria-labelledby="cancel-tab">
                        <div class="table-responsive" style="margin-left:-15px">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Phone number</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Day</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.listOrderCancel)
                                    {
                                        <tr>
                                            <td>
                                                @item.Address.Name
                                            </td>
                                            <td>
                                                @item.Address.ShippingNumberPhone
                                            </td>
                                            <td>
                                                @item.Address.Address1
                                            </td>
                                            <td>
                                                @{
                                                    var day = (DateTime)item.OrderDateTime;
                                                    var data = day.ToString("dd-MM-yyyy");
                                                }
                                                @data
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-primary" asp-action="DetailOrder"
                                                asp-route-OrderId="@item.OrderId">DETAILS</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->


<!-- Modal announce -->
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="MyModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    function openModal(strMessage) {
        var myDiv = document.getElementById("MyModalBody");
        myDiv.innerHTML = strMessage;
        $('#MyModal').modal('show');
    }

    $(document).ready(function () {
        var msg = '@TempData["Message"]';
        if (msg) openModal(msg);
    })
</script>
}