@{
    ViewData["Title"] = "Book Detail";
}
@model Book

@{
    var totalReview = (int)ViewBag.starTotal/5;
    double average = 0;
    if (ViewBag.starTotal != 0) {
        average = (double)ViewBag.starGet/(double)ViewBag.starTotal*5;
    }
    average = Math.Round(average, 2);
    var tmp = (totalReview == 0) ? 1 : totalReview;
    var numreview1 = (float)ViewBag.Star1/tmp*100;
    var numreview2 = (float)ViewBag.Star2/tmp*100;
    var numreview3 = (float)ViewBag.Star3/tmp*100;
    var numreview4 = (float)ViewBag.Star4/tmp*100;
    var numreview5 = (float)ViewBag.Star5/tmp*100;
}
<style>
    * {
    box-sizing: border-box;
    }

    .heading {
    font-size: 25px;
    margin-right: 25px;
    }
    
    .fa_big {
        font-size: 25px;
    }

    .checked {
    color: orange;
    }

    /* Three column layout */
    .side {
    float: left;
    width: 15%;
    margin-top:10px;
    }

    .middle {
    margin-top:10px;
    float: left;
    width: 70%;
    }

    /* Place text to the right */
    .right {
    text-align: right;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    /* The bar container */
    .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    }

    /* Individual bars */
    .bar-5 {width: @numreview5%; height: 18px; background-color: #04AA6D;}
    .bar-4 {width: @numreview4%; height: 18px; background-color: #2196F3;}
    .bar-3 {width: @numreview3%; height: 18px; background-color: #00bcd4;}
    .bar-2 {width: @numreview2%; height: 18px; background-color: #ff9800;}
    .bar-1 {width: @numreview1%; height: 18px; background-color: #f44336;}
</style>

<section class="about-details spad">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 col-md-6  book__detail__container">
                    <div class=" col-lg-3 col-md-12  book__detail__img">
                        <img src=@Model.Image alt="">
                    </div>
                    <div class="col-lg-7 col-md-12 book__detail__infomation">
                        <p class="book__detail__name">
                            @Model.Name
                        </p>
                        <p class="book__detail__detail">
                            <b>Author: </b> @Model.Author.Name
                        </p>
                        <p class="book__detail__detail">
                            <b>Nhà Xuất Bản: </b> @Model.Publisher
                        </p>
                        <br>
                        <p class="book__detail__add"> 100% Genuine Product</p>
                        <a class="book__detail__add" href="#"> <i class="fa fa-heart"></i> Add to Favorite</a>
                        </p>
                        <hr>
                        <p class="book__detail__price">@Model.Price VND</p>
                        <hr>
                        <p class="book__detail__star"> @average 
                            @for (int i = 1; i <= 5; ++i) if (i <= average) {
                                <i class="fa fa-star checked"></i>
                            }
                            else {
                                <i class="fa fa-star"></i>
                            }
                        </p>
                        <p class="book__detail__sold"> 42 Sold</p>
                        <hr>
                        <form asp-action="AddBookToCart" asp-controller="Cart">
                            <div class="cart__quantity__container" style="padding: 1rem;">
                                <input type="number" value=@Model.BookId name="BookId" hidden>
                                <input class="cart__quantity" type="number" value="1" min="1" max="10" name="Quantity" style="text-align:end;">
                                <p class="book__detail__availible">@Model.quantity products are available</p>
                                <button class="book__detail__btnadd" type="submit" value="submit">Add to Cart</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section Begin -->
<sction class="product-details spad">
    <div class="container">
        <div class="col-lg-12">


            <div class="product__details__tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                            aria-selected="true">Infomation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                            aria-selected="false">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Comment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">Rate</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <div class="product__details__tab__desc">
                            <h6>Infomation</h6>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <td class="col-lg-4 col-md-6">Author</td>
                                    <td>@Model.Author.Name</td>
                                </tr>
                                <tr>
                                    <td>Publisher</td>
                                    <td>@Model.Publisher</td>
                                </tr>
                                <tr>
                                    <td>Size</td>
                                    <td>@Model.Size</td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td>@Model.Category</td>
                                </tr>
                                <tr>
                                    <td>Publication Date</td>
                                    <td>@Model.PulishDate</td>
                                </tr>
                                <tr>
                                    <td>Page Number</td>
                                    <td>@Model.PageNumber</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                        <div class="product__details__tab__desc">

                            <h6>Introduction</h6>
                            <p> @Model.DetailBook
                            </p>

                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                        <div class="product__details__tab__desc">
                            <h6>Comment(@ViewBag.commentCount)</h6>
                            <div class="detail__book__comment__container">
                                <form asp-action="AddComment" method="post">
                                    <input type="text" name="Contentcomment" class="detail__book__write__comment"
                                        placeholder="Comment..." id="comment">
                                    <input type="number" name="BookId" hidden value="@Model.BookId">
                                    <input type="submit" name="btncmt" class="detail__book__btncmt" id="btncmt"
                                        value="Comment">
                                </form>
                                <hr>
                                @foreach (var item in ViewBag.listCom)
                                {
                                    <div class="detail__book__comment">
                                        <img class="detail__book__person" src="~/img/customers/default_user.jpeg" alt="">
                                        <table class="detail__book__content" style="border: none; width: 100%;">
                                            @{
                                                var day = (DateTime)item.TimeComment;
                                                var data = day.ToString("dd-MM-yyyy");
                                                var stringData = data + " " + day.ToString("t");
                                            }
                                            <tr>
                                                <td><p class="detail__book__name">@item.CustomerEmailNavigation.Name</p></td>
                                                <td style="text-align: right;">@stringData</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">@item.ContentComment</td>
                                            </tr>
                                            
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-4" role="tabpanel">
                        <div class="product__details__tab__desc">
                            <span class="heading">User Rating</span>
                            @for(int i = 1; i <= 5; ++i) if (i > ViewBag.CusStar) {
                                <a asp-action="AddRateToBook" asp-route-BookId="@Model.BookId" asp-route-amountStar="@i"><span class="fa-big fa fa-star" style="color: black;"></span></a>
                            }
                            else {
                                <a asp-action="AddRateToBook" asp-route-BookId="@Model.BookId" asp-route-amountStar="@i"><span class="fa-big fa fa-star checked"></span></a>
                            }
                            <p>@average average based on @totalReview reviews.</p>
                            <hr style="border:3px solid #f1f1f1">

                            <div class="row">
                                <div class="side">
                                    <div>5 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-5"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@ViewBag.Star5</div>
                                </div>
                                <div class="side">
                                    <div>4 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-4"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@ViewBag.Star4</div>
                                </div>
                                <div class="side">
                                    <div>3 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-3"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@ViewBag.Star3</div>
                                </div>
                                <div class="side">
                                    <div>2 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-2"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@ViewBag.Star2</div>
                                </div>
                                <div class="side">
                                    <div>1 star</div>
                                </div>
                                <div class="middle">
                                    <div class="bar-container">
                                    <div class="bar-1"></div>
                                    </div>
                                </div>
                                <div class="side right">
                                    <div>@ViewBag.Star1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
    <!-- Product Details Section End -->

@section Scripts {
    @{await Html.RenderPartialAsync("_AnnounceModal");}
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function openModal(strMessage) {
            var myDiv = document.getElementById("MyModalBody");
            myDiv.innerHTML = strMessage;
            $('#MyModal').modal('show');
        }

        function openModalSuccess(strMessage) {
            var myDiv = document.getElementById("MyModalBodySuccess");
            myDiv.innerHTML = strMessage;
            $('#MyModalSuccess').modal('show');
        }

        $(document).ready(function () {
            var msg = '@TempData["Message"]';
            if (msg) openModal(msg);
            var sucs = '@TempData["Success"]';
            if (sucs) openModalSuccess(sucs);
        })
    </script>

}